<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" href="/static/css/stile.css">
    
    <title>myCRYPTO | {% block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <h1 class="logo"><span>myCRYPTO</span></h1>
        </div>
        <nav id="site-nav" class="site-nav">
            <ul>
                <li><a href="/"><i class="fa fa-home site-nav--icon"></i>Inicio</a></li>
                <li><a href="/compra"><i class="fa fa-dollar-sign site-nav--icon"></i>Compra</a></li>
                <li><a href="/status"><i class="fa fa-envelope site-nav--icon"></i>Status</a></li>
            </ul>
        </nav>
        <div id="menu-toggle" class="menu-toggle" onClick="cambiarClase()">
            <div class="hamburger"></div>
        </div>
    </header>
    <script src="/static/js/app.js"></script>
</body>
</html>
    <footer class="footer">
       <p> &copy; 2020 - Todos los derechos reservados</p>
    </footer>
    {% block contenido %}{% endblock %}
</body>
</html>