{% extends 'base.html' %}

{% block  titulo %} Compra de Cryptos {% endblock %}

{% block contenido %}

    <h1 class="encabezado">Compra de Cryptos</h1>
    <form action="/compra" method="post" class="compra_funcion">
        {{ form.hidden_tag() }}
            {{ form.From.label (class= "from_label")}}
            {{ form.From(class="select1")}}
        {{ form.hidden_tag() }}
          {{ form.To.label (class="to_label")}}
            {{ form.To(class="select2") }}
          </select>
        
        {{ form.hidden_tag() }}
         <p class="cantidad">  Cantidad: {{precio}}</p>
                       
          {{ form.aceptar(class="boton") }}
          {{ form.cancelar(class="boton") }}
  
          
        {{ form.Q.label  (class="label_compra")}}
        {{ form.Q(class="input_Q", maxlength="7") }}
        {% if form.Q.errors %}
              {% for error in form.Q.errors %}
                <p class="error-msg">{{ error }}</p>
              {% endfor %}
            {% endif %}
        {{ form.consultar (class="consultar")}}
        
        {{ form.hidden_tag() }}
        <p class="precio_unitario"> Precio Unitario: {{precio_unitario}}</p>
        <p class ="error-msg">{{ sin_saldo }}</p>
        <p class ="error-msg">{{ error_el }}</p>
        <p class ="error-msg">{{ error_int }}</p>
        <p class ="error-msg">{{ error_int2 }}</p>
        <p class ="error-msg">{{ error_consulta }}</p>

    </form>


{% endblock %}